{% extends "layout.html" %}

{% block title %}Asset Report{% endblock %}

{% block head %}
	{{ super() }}
{% endblock %}

{% block content %}
	{%  include "authorization_header.html" %}

	{% if session.logged_in %}
		<h1>ASSET REPORT</h1>
		{% if report == True %}
		<!-- Only show table if report is True -->
		<h4>Inventory at {{ facility[2] }} on {{ date }}</h4>
		<table class="u-full-width">
			<thead>
				<tr>
					<th>Asset Tag</th>
					<th>Asset Description</th>
					<th>Asset Location</th>
					<th>Arrival Data</th>
					<th>Departure Date</th>
				</tr>
			</thead>
			<tbody>
			{% for asset in assets_list %}
				<tr>
					<td>{{ asset[0] }}</td>
					<td>{{ asset[1] }}</td>
					<td>{{ asset[2] }}</td>
					<td>{{ asset[3] }}</td>
					<td>{{ asset[4] }}</td>
				</tr>
			{% endfor %}
			</tbody>
		</table>
		<br>
		{%  endif %}

		<!-- Filter Form -->
		<center>
			<form action="{{ url_for('asset_report') }}" method="POST">
				<dt>Search Date:</dt>
				<dt><input type="text" name="date" placeholder="MM/DD/YYYY"></dt>
				<dt>Storage Facility:</dt>
				<select name="facility">
					<option value="All" SELECTED>All Facilities</option>
				{% for fac in facilities_list %}
					<option value="{{ fac[0] }}">{{ fac[2] }}</option>
				{% endfor %}
				</select>
				<br>
				<input type="submit" value="show report">
			</form>
			<br>
			<br>
			<a class="button" href="{{ url_for('dashboard') }}">RETURN TO DASHBOARD</a>
		</center>
	{% endif %}
{% endblock %}