{% extends "layout.html" %}

{% block title %}Create Account{% endblock %}

{% block head %}
	{{ super() }}
{% endblock %}

{% block content %}
	<h1>CREATE ACCOUNT</h1>
	<p>If you already have an account, please direct yourself to <a href="{{ url_for('login') }}">the login page</a>.</p>
	<div class="centered-form">
		<form action="{{ url_for('create_user') }}" method="POST">
					Choose a username:
					<input type="text" name="username" maxlength="16"><br>
					Choose a password:
					<input type="password" name="password" maxlength="16"><br>
					Choose a role:<br>
					<input class="radio-label" type="radio" name="role" value="3" id="facility-officer" checked>
					<label for="facility-officer">Facility Officer</label>
					<input class="radio-label" type="radio" name="role" value="2" id="logistics-officer">
					<label for="logistics-officer">Logistics Officer</label>
					<br>
					<br>
					<input type="submit" value="create user">
			</form>
	</div>
{% endblock %}