{% extends "layout.html" %}

{% block title %}Create Account{% endblock %}

{% block head %}
	{{ super() }}
{% endblock %}

{% block content %}
	<h1>CREATE ACCOUNT</h1>
	<p>If you already have an account, please direct yourself to <a href="{{ url_for('login') }}">the login page</a>.</p>
	{% if error %}
		<strong>ERROR:</strong> {{ error }}
	{% endif %}
	<center>
		<form action="{{ url_for('create_user') }}" method="POST">
			<dl>
				<dt>Choose a username:</dt>
				<dt><input type="text" name="username" maxlength="16"></dt>
				<dt>Choose a password:</dt>
				<dt><input type="password" name="password" maxlength="16"></dt>
				<dt>
					<input type="radio" name="role" value="3" checked> Facilities Officer<br>
					<input type="radio" name="role" value="2"> Logistics Officer
				</dt>
				<dt><input type="submit" value="create user"></dt>
			</dl>
		</form>
	</center>
{% endblock %}