{% extends "layout.html" %}

{% block title %}Dashboard{% endblock %}

{% block head %}
	{{ super() }}
{% endblock %}

{% block content %}
	{% if not session.logged_in %}
		<h4 class="alert">AUTHORIZATION FAILURE</h4>
		<br>
		<div class="row">
			<a class="button one-half column" href="{{ url_for('login') }}">LOGIN</a>
			<a class="button one-half column" href="{{ url_for('create_user') }}">CREATE USER</a>
		</div>
	{% endif %}
	<h1>LOST DASHBOARD</h1>
	<p>Welcome to the Logistical Operations Service Tracker (LOST)</p>
	<div class="row">
		<a class="button one-half column" href="{{ url_for('add_facility') }}">Add Facility</a>
		<a class="button one-half column" href="{{ url_for('add_asset') }}">Add Asset</a>
	</div>
	<br>
	<div class="row">
		<a class="button one-half column" href="{{ url_for('asset_report') }}">Asset Report</a>
		<a class="button one-half column" href="{{ url_for('dispose_asset') }}">Dispose Asset</a>
	</div>
	<br>
	<br>
	<center><a class="button" href="{{ url_for('logout') }}">LOGOUT</a></center>
{% endblock %}