{% extends "layout.html" %}

{% block title %}Inventory By Facilities{% endblock %}

{% block head %}
	{{ super() }}
{% endblock %}

{% block content %}
	{% if not session.logged_in %}
		<h1 class="alert-warning">AUTHORIZATION FAILURE</h1>
	{% endif %}

	{% if session.logged_in %}
		<h1>Inventory at {{ facility }} @ {{ date }}</h1>
		<table class="u-full-width">
			<thead>
				<tr>
					<th>Facility Code</th>
					<th>Facility Location</th>
					<th>Asset Tag</th>
					<th>Asset Description</th>
					<th>Arrival Date</th>
					<th>Departure Date</th>
				</tr>
			</thead>
			<tbody>
			{% for item in data %}
				<tr>
					<td>{{ item['fcode'] }}</td>
					<td>{{ item['location'] }}</td>
					<td>{{ item['asset_tag'] }}</td>
					<td>{{ item['description'] }}</td>
					<td>{{ item['arrive_dt'] }}</td>
					<td>{{ item['depart_dt'] }}</td>
				</tr>
			{% endfor %}
			</tbody>
		</table>
	{% endif %}
{% endblock %}