{% extends "layout.html" %}

{% block title %}Login{% endblock %}

{% block head %}
	{{ super() }}
{% endblock %}

{% block content %}
	<h1>LOST LOGIN</h1>
	<p>If you do not have an account, please direct yourself to <a href="{{ url_for('create_user') }}">the account creation page</a>.</p>
	{% if error %}
		<strong>ERROR:</strong> {{ error }}
	{% endif %}
	<center>
		<form action="{{ url_for('login') }}" method="POST">
			<dl>
				<dt>Username:</dt>
				<dt><input type="text" name="username"></dt>
				<dt>Password:</dt>
				<dt><input type="password" name="password"></dt>
				<dt><input type="submit" value="login"></dt>
			</dl>
		</form>
	</center>
{% endblock %}