{% extends "layout.html" %}

{% block title %}Inventory In Transit{% endblock %}

{% block head %}
	{{ super() }}
{% endblock %}

{% block content %}
	{% if not session.logged_in %}
		<h1 class="alert-warning">AUTHORIZATION FAILURE</h1>
	{% endif %}

	{% if session.logged_in %}
		{% if date %}
		<h1>Inventory In Transit on {{ date }}</h1>
		{% endif %}
		<table class="u-full-width">
			<thead>
				<tr>
					<th>Asset Tag</th>
					<th>Asset Description</th>
					<th>Source Facility</th>
					<th>Destination Facility</th>
					<th>Arrival Date</th>
					<th>Departure Date</th>
				</tr>
			</thead>
			<tbody>
			{% for item in data %}
				<tr>
					<td>{{ item.asset_tag }}</td>
					<td>{{ item.description }}</td>
					<td>{{ item.location1 }}</td>
					<td>{{ item.location2 }}</td>
					<td>{{ item.arrive_dt }}</td>
					<td>{{ item.depart_dt }}</td>
				</tr>
			{% endfor %}
			</tbody>
		</table>
	{% endif %}
{% endblock %}