body {
    padding: 5%;
}

h1,
h2,
h3 {
    text-align: center;
    border-bottom: 2px black solid;
}

h4,
h5,
h6 {
    text-align: center;
    border: none;
}

h1 {
    text-transform: uppercase;
}

p {
    text-align: center;
}

alert {
    color: red !important;
}

form {
    padding-top: 30px;
}

input {
    width: 100%;
}

label {
    display: inline-block !important;
    padding-right: 10%;
    font-weight: 300 !important;
}

select {
    width: 100%;
}

.centered-form {
    margin-left: auto;
    margin-right: auto;
    width: 30%;
    border: 2px solid black;
    padding: 1%;
}

.flash {
    border: 2px dashed red;
    padding: 5px;
    width: 300px;
    text-align: center;
    margin-left: auto;
    margin-right: auto;
}

.radio-label {
    display: inline-block;
    text-align: center;
    width: auto;
}

#footer {
    padding-top: 10%;
    clear: both;
}