body {
    padding: 10%;
}

h1,
h2,
h3 {
    text-align: center;
    border-bottom: 2px black solid;
}

h4,
h5,
h6 {
    text-align: center;
    padding-bottom: 5%;
}

h1 {
    text-transform: uppercase;
}

p {
    text-align: center;
}

#footer {
    text-align: center;
    padding-top: 10%;
}