body {
    padding: 5%;
}

h1,
h2,
h3 {
    text-align: center;
    border-bottom: 2px black solid;
}

h4,
h5,
h6 {
    text-align: center;
    border: none;
}

h1 {
    text-transform: uppercase;
}

p {
    text-align: center;
}

#footer {
    padding-top: 10%;
    clear: both;
}

.flash {
    border: 2px dashed red;
    padding: 5px;
    width: 200px;
    text-align: center;
    margin-left: auto;
    margin-right: auto;
}

alert {
    color: red !important;
}