body {
    padding: 5%;
}

h1,
h2,
h3 {
    text-align: center;
    border-bottom: 2px black solid;
}

h4,
h5,
h6 {
    text-align: center;
    border: 1px black solid;
}

h1 {
    text-transform: uppercase;
}

p {
    text-align: center;
}

#facility_inventory {
    float: left;
}

#moving_inventory {
    float: right;
}

#footer {
    clear: both;
}